.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 80px;
  padding-bottom: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  background-color: #282c34;
}

body {
  background-color: #333;
  color: rgb(139, 139, 139);
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.hidden {
  display: none;
}

/** Top Nav Bar **/

.title {
  color: #eee;
  opacity: 1;
  z-index: 1039;
  margin: 8px;
  position: fixed;
  top: 0;
}

.title-login {
  font-size: 100px;
  position: static;
  display: flex;
  flex-flow: column;
  align-self: center;
}

.top-bar {
  background-color: #282c34;
  opacity: 0.9;
  border-bottom: 1px solid #aaa;
}

.top-right-btns {
  max-width: 35%;
}

.top-right-btns > .btn {
  font-size: 12px;
}

/** Footer **/
.bottom-bar {
  background-color: #282c34;
  opacity: 0.9;
  border-top: 1px solid #aaa; 
  font-size: small; 
}

.ccs-thank-you > a, .created-by > a, .citations-api > div > a, .citations-style > div > a {
  color: white;
}

.citations > div > div {
  white-space: nowrap;
}

.songkick-badge-img {
  height: 13px;
  width: 13px;
}

/** Section separator bar **/
section {
  width: 90%;
  border-top: solid 1px #aaa;
  margin: 25px auto;
} 

section:nth-child(1) {
  border: none;
}

/** Player **/
.player-wrapper {
  padding: 25px;
}

/** Artist Selection **/
.root-artist-img {
  margin-right: 8px;
  margin-bottom: -8px;
  margin-top: -8px;
  margin-left: -22px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}


/** Location **/
.location {
  border-top: solid 1px #aaa;
}

.location-ip {
  width: 75%;
  border-right: solid 1px #aaa;
  justify-content: center;
}

.find-location-btn {
  position: relative;
}

/** Branches **/
.branch-name-input {
  text-align: left;
  width: 100%;
  color: white;
  background: linear-gradient(45deg, black, transparent);
  border: none;
  padding: 10px;
}

/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  margin: 5px;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn-nohover:hover {
  background: transparent;
  color: white;
}

.btn-selected {
  background: #1ecd97;
  color: #333;
}

.btn-disabled {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid rgb(139, 139, 139);
  color: rgb(139, 139, 139);
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  margin: 5px;
}

.btn-disabled:hover {
  cursor: default;
}
.btn-login {
  font-size: large;
}

.btn-logout {
  background-color: #282c34;
}

.btn-delete {
  left: -15px;
  color: #aaa;
  background: transparent;
  border: none;
  position: absolute;

}

.refresh-btn {
  font-size: 33px;
  color: #fff;
  background: none;
  border: none;
  width: 60px;
  height: 60px;
}

/** Background **/

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.player-wrapper {
  display: flex;
  align-items: center;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
}

/** Branch **/
.branch-img-preview-btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #aaa;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
}

.branch-img-preview {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/** Limbs **/
.limb {
  border-top: 1px solid #aaa;
  height: 42px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
}
  
.limb:hover {
  background: #aaa;
}
  
.limb:last-child {
  border-bottom: 1px solid #aaa;
}

.limbs {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
  width: 90vw;
  font-size: calc(6px + 1.5vmin);
}

.limb > div > a {
  color: white;
}
/*=== Animations ===*/
.loader {
  border: 10px solid #fff;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 3px;
  right: -50px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* from https://fabriceleven.com/dev/quickly-add-css-fade-in-animations/ */
/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  }
  
  .two {
  -webkit-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  animation-delay: 2.2s;
  }
  
  .three {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
  }
  
/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}